#teddybox {
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column;
  background-image: url(./teddy.png);
}

.clothing {
  height: 50px;
}
.hat {
  background-image: url(./hat.png);
}
.pullover {
  background-image: url(./pullover.png);
}
.trousers {
  background-image: url(./trousers.png);
}
.isInvisible {
  visibility: hidden;
}
